body{
    margin:0px;
    padding:0px;
}
.titre{
    font-family: 'Mali', cursive;
    font-size:70px;
    text-align:center;
}
.soustitre{
    font-family:'Dancing Script', cursive;
    text-align: center;
    font-size:50px;
}
.hero{
    background-image:url("../images/mountain.jpg");    
    height:100vh;
    background-position: center center;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content: center;
    Flex-direction:column;
}
.corps{
    font-family:'Mali', cursive;
    text-align:center;
    font-size:100px;

}